// Rofi colors for Emilia

* {
    font: "JetBrainsMono NF Bold 9";
    background: #141414;
    bg-alt: #262626;
    background-alt: #141414E0;
    foreground: #dedede;
    selected: #5cb0ec;
    active: #5abf8d;
    urgent: #d73f52;

    img-background: url("~/.config/bspwm/rices/emilia/rofi.webp", width);
}
